gdown
tensorflow
streamlit
numpy
pillow
torch
torchvision
opencv-python-headless  # Use headless version for cloud deployment
pytorch-grad-cam
matplotlib
fastapi
uvicorn
googletrans==4.0.0-rc1  # Note: Use this version as newer versions might have issues
